* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

.header__dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.banner__title, .banner__sub-title {
  display: inline-block;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.manage-develop__sub-title, .manage-develop__location {
  font-size: 43px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #505050;
}

.header__container, .banner__content, .manage-develop, .about-us__container, .footer__container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header section */
.header {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  position: relative;
  z-index: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 15px 18px 15px !important;
  font-family: "Lato", sans-serif;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  width: 240px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #505050;
  padding: 0 0 0 10px;
}

.header__right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.header__top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}

.header__info {
  padding: 0 20px 0 0;
  color: #505050;
}

.header__knowledge {
  color: #505050;
}

.header__top-links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__page-size-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #265781;
  padding: 0 0 0 20px;
}

.header__small-size {
  padding: 0 10px 0 0;
  font-size: 11px;
  font-weight: 700;
  color: #505050;
}

.header__medium-size {
  padding: 0 10px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #505050;
}

.header__large-size {
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #505050;
}

.header__language-section {
  border-right: 1px solid #265781;
  padding: 0 15px 0 15px;
}

#language {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #505050;
}

.header__color-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #265781;
  padding: 0 15px 0 15px;
}

.header__dot--blue {
  background-color: #265781;
}

.header__dot--green {
  background-color: #52b27b;
  margin: 0 15px;
}

.header__dot--yellow {
  background-color: #f2e162;
}

.header__search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2px 0 10px;
}

.header__below-links {
  font-family: "Lato", sans-serif;
}

.header__below-links-info {
  padding: 0 10px 0 10px;
  border-right: 1px solid #505050;
  color: #505050;
}

.header__home-info {
  padding: 0 10px 0 0;
  border-right: 1px solid #505050;
  color: #505050;
}

.header__governing-councils-decisions-info {
  padding: 0 0 0 10px;
  color: #505050;
}

/* --------- */
.header__dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.banner__title, .banner__sub-title {
  display: inline-block;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.manage-develop__sub-title, .manage-develop__location {
  font-size: 43px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #505050;
}

.header__container, .banner__content, .manage-develop, .about-us__container, .footer__container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Banner-section */
.banner {
  position: relative;
}

.banner .banner-img {
  width: 100%;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 67px;
}

.banner__title {
  font-size: 57px;
  background-color: #1b7642;
  margin: 0;
  padding: 0 26px 0 17px;
}

.banner__sub-title {
  font-size: 35px;
  background-color: #0f5c30;
  margin: 5px 0 35px 0;
  padding: 13px 20px 13px 20px;
}

.banner__detail-link {
  font-size: 22px;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #272727;
  padding: 10px 20px 10px 22.5px;
}

.banner__message-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #1b7642;
  height: 78px;
  width: 80px;
  left: 0;
  right: 0;
  bottom: -39px;
  margin: 0 auto;
}

.banner__box {
  width: 26px;
  height: 50px;
}

/*----------*/
/* .Manage-and-develop-section */
.manage-develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 130px !important;
  padding: 0 15px 0 59px !important;
}

.manage-develop__content {
  width: 876px;
}

.manage-develop__sub-title {
  padding: 0 0 14px 111px;
  margin: 0;
}

.manage-develop__title-img {
  width: 742px;
}

.manage-develop__location {
  padding: 14px 0 0 0;
  margin: 0;
  text-align: end;
}

.manage-develop__logo {
  position: absolute;
  right: 46px;
  width: 182px;
  height: 169px;
}

/*----------*/
/* section-3 */
.services {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.6)), to(rgba(230, 230, 230, 0.6)));
  background: linear-gradient(rgba(250, 250, 250, 0.6) 0%, rgba(230, 230, 230, 0.6) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 149px 0 121px 0;
}

.services__list-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.services__items {
  text-align: center;
  margin-right: 87px;
}

.services__items--sprinkler {
  margin-right: 0;
}

.services__logos {
  width: 75px;
  height: 75px;
}

.services__links-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #505050;
  padding-top: 17px;
  font-weight: 600;
  width: 96px;
}

.services__links-text--agriculture {
  width: 120px;
}

/* ------- */
/* section-4 */
.about-us {
  background-color: #3f3531;
  height: 521px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
}

.about-us__nature-img {
  width: 556px;
  height: 352px;
}

.about-us__nature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 556px;
  height: 352px;
  position: absolute;
  top: 0;
}

.about-us__outer-circle {
  border: 2px solid #4fc172;
  padding: 4px 1px 1px 4px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.about-us__button-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0 0 5px;
  background-color: #44af72;
  border-radius: 50px;
  width: 68px;
  height: 68px;
}

.about-us__content-section {
  width: 395px;
  height: 367px;
}

.about-us__title {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.about-us__description {
  color: #ffffff;
  font-size: 16px;
  margin: 13px 0 30px 0;
}

.about-us__link-button {
  display: inline-block;
  background-color: #44af72;
  color: #ffffff;
  font-size: 22px;
  border: none;
  padding: 10px 21px 10px 21px;
}

/* ---------------- */
.header__dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.banner__title, .banner__sub-title {
  display: inline-block;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.manage-develop__sub-title, .manage-develop__location {
  font-size: 43px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #505050;
}

.header__container, .banner__content, .manage-develop, .about-us__container, .footer__container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.grass-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 84px;
}

.footer {
  width: 100%;
  background-color: #1b7642;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 30px 15px !important;
  left: 0;
  right: 0;
}

.footer__left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 714px;
  height: 343px;
  margin-top: 32px;
}

.footer__subscribe-input {
  width: 70%;
  height: 46px;
  background-color: #0f5c30;
  border-radius: 80px;
  border-style: none;
  margin-top: 16px;
  padding: 0 300px 0 18px;
}

.footer__subscribe-btn {
  background-color: #ffffff;
  color: #505050;
  position: relative;
  border-radius: 90px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 30px;
  top: 1px;
  left: -204px;
}

.footer__subscribe-btn:hover {
  cursor: pointer;
}

.footer__subscribe-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.footer__subscribe-title ::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 0 0 0 10px;
}

.footer__subscribe-title :-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 0 0 0 10px;
}

.footer__subscribe-title ::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 0 0 0 10px;
}

.footer__subscribe-title ::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 0 0 0 10px;
}

.footer__links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.footer__below-links {
  padding: 0 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__about-us-info {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__important-links-info {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px 0;
}

.footer__blank-space {
  height: 22px;
}

.footer__about-info {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 67px;
}

.footer__copyright-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copyright-description {
  font-size: 12px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0;
}

.footer__copyright-all-rights {
  font-size: 12px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.footer__copyright-powerred-by {
  text-align: end;
  font-size: 12px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0;
}

.footer__copyright-webworks {
  text-align: end;
  color: #ffffff;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.footer__right-section {
  background-color: #0f5c30;
  padding: 36px;
  border-radius: 20px;
  width: 371px;
  height: 375px;
  color: #ffffff;
}

.footer__contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-us-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #787878;
  margin-left: 26px;
}

.footer__gmail-img {
  margin-top: 20px;
}

.footer__email-contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.footer__locate-us-info {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.footer__call-us-info {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 17px 0 5px 0;
}

.footer__email-us-info {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 17px 0 5px 0;
}

.footer__address {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin: 0 0 17px 0;
  width: 250px;
}

.footer__call-us {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin: 0 0 17px 0;
}

.footer__email-us {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.footer__follow-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.footer__follow-us-info {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  padding: 0 30px 0 0;
  border-right: 1px solid #787878;
}

.footer__icons-section {
  padding: 0 0 0 10px;
}

.footer__icons {
  color: #ffffff;
  padding: 0 0 0 20px;
}

.footer a {
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */