/* Banner-section */
.banner {
    position: relative;
    margin-bottom: 130px;

    .banner-img {
        width: 100%;
    }

    @at-root {
        &__content {
            @extend %container;
            @include display-direction-align-properties(flex, column, flex-start);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 67px;
        }

        &__title {
            @extend %banner-section-title;
            font-size: 57px;
            background-color: $banner-title-color;
            @include margin(0, 0, 5px, 0);
            @include padding(0, 26px, 0, 17px);
        }

        &__sub-title {
            @extend %banner-section-title;
            font-size: 35px;
            background-color: $banner-sub-title-color;
            @include margin(5px, 0, 35px, 0);
            @include padding(13px, 20px, 13px, 20px);
        }

        &__detail-link {
            font-size: 22px;
            background-color: $white-color;
            color: $banner-button-color;
            @include padding(10px, 20px, 10px, 22.5px);
            &:hover{
                background-color: $green-color;
                color: $white-color;
            }
        }

        &__message-section {
            @include flex-row-properities(center, center);
            position: absolute;
            background-color: $banner-message-section-color;
            height: 78px;
            width: 80px;
            left: 0;
            right: 0;
            top: 91%;
            margin: 0 auto;
        }

        &__message-box{
            height: 50px;
        }
    }
}
/*----------*/

/* .Manage-and-develop-section */
.manage-develop {
    display: flex;
    position: relative;
    @extend %container;
    @include padding(0, 15px, 0, 70px !important);

    @at-root {
        &__content {
            width: 876px;
        }

        &__sub-title {
            @extend %manage-and-develop-title;
            font-size: 43px;
            @include padding(0, 0, 3px, 111px);
            margin: 0;
        }

        &__title {
            margin: 0;
            font-size: 131px;
            font-weight: 900;
            padding: 0;
            line-height: 1;
            @include background-img("banner-img", ".png");
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: cover;
            background-position: center;
            @include padding(0, 0, 3px, 0);
        }

        &__location {
            @extend %manage-and-develop-title;
            font-size: 43px;
            margin: 0;
            text-align: end;
        }

        &__logo {
            position: absolute;
            right: 46px;
            width: 182px;
        }
    }
}
/*----------*/

/* section-3 */
.services {
    background: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(230, 230, 230, 0.6) 100%);
    @include display-justify-properities(flex, center);
    @include padding(162px, 0, 122px, 0);

    @at-root {
        &__list-items {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding-left: 0;
        }

        &__items {
            text-align: center;
            margin-right: 87px;

            &:nth-child(4){
                span{
                    width: 120px;
                }
            }

            &:nth-child(5){
                margin-right: 0;
            }
        }

        &__logo {
            width: 75px;
            height: 75px;
        }

        &__links-text {
            display: flex;
            font-size: 16px;
            color: $links-color;
            padding-top: 17px;
            font-weight: 600;
            width: 97px;
        }
    }
}
/* ------- */

/* section-4 */
.about-us {
    background-color: $brown-bg-color;
    position: relative;
    margin-bottom: 84px;

    .grey-color-bg-img{
        width: 32%;
        display: block;
    }

    @at-root {
        &__container {
            @extend %container;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
        }

        &__left-section {
            @include flex-row-properities(center, center);
            margin-right: 85px;
        }

        &__img {
            width: 556px;
            position: relative;
        }

        &__button-bg{
            position: absolute;
            border: 2px solid $lightest-green-color;
            @include flex-row-properities(center, center);
            border-radius: 50px;
            width: 80px;
            height: 80px;

            &::after{
                position: absolute;
                background-color: $normal-green-color;
                width: 70px;
                height: 70px;
                border-radius: 50px;
                content: "";
            }
        }

        &__play-button{
            @include flex-row-properities(center, center);
            position: relative;
            z-index: 1;
        }

        &__right-section {
            width: 395px;
        }

        &__title {
            font-size: 36px;
            color: $white-color;
            font-weight: 700;
            @include margin(0, 0, 13px, 0);
        }

        &__description {
            color: $white-color;
            font-size: 16px;
            @include margin(0, 0, 30px, 0);
        }

        &__link-button {
            display: inline-block;
            background-color: $normal-green-color;
            color: $white-color;
            font-size: 22px;
            border: none;
            @include padding(10px, 21px, 10px, 21px);
            &:hover{
                background-color: $white-color;
                color: $green-color;
            }
        }
    }
}
/* ---------------- */