/* Banner-section */
.banner {
    position: relative;

    .banner-img {
        width: 100%;
    }

    @at-root {

        &__content {
            @extend %container;
            @include display-direction-align-properties(flex, column, flex-start);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 67px;
        }

        &__title {
            @extend %banner-section-title;
            font-size: 57px;
            background-color: $banner-title-color;
            margin: 0;
            @include padding(0, 26px, 0, 17px);
        }

        &__sub-title {
            @extend %banner-section-title;
            font-size: 35px;
            background-color: $banner-sub-title-color;
            margin: 5px 0 35px 0;
            @include padding(13px, 20px, 13px, 20px);
        }

        &__detail-link {
            font-size: 22px;
            font-family: $primary-family;
            background-color: $white-color;
            color: $banner-button-color;
            @include padding(10px, 20px, 10px, 22.5px);
        }

        &__message-section {
            @include flex-row-properities(center, center);
            position: absolute;
            background-color: $banner-message-section-color;
            height: 78px;
            width: 80px;
            left: 0;
            right: 0;
            bottom: -39px;
            margin: 0 auto;
        }

        &__box {
            width: 26px;
            height: 50px;
        }

    }
}

/*----------*/

/* .Manage-and-develop-section */
.manage-develop {
    display: flex;
    position: relative;
    @extend %container;
    margin-top: 130px !important;
    @include padding(0, 15px, 0, 70px !important);

    @at-root {
        &__content {
            width: 876px;
        }

        &__sub-title {
            @extend %hero-banner-section-title;
            padding: 0 0 3px 111px;
            margin: 0;
        }

        &__title {
            margin: 0;
            font-size: 131px;
            font-weight: 900;
            padding: 0;
            line-height: 1;
            background-image: url("/images/#{banner-img}.png");
            font-family: $primary-family;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: cover;
            background-position: center;
        }

        &__location {
            @extend %hero-banner-section-title;
            padding: 3px 0 0 0;
            margin: 0;
            text-align: end;
        }

        &__logo {
            position: absolute;
            right: 46px;
            width: 182px;
            height: 169px;
        }

    }
}

/*----------*/

/* section-3 */
.services {
    background: linear-gradient(rgba(250, 250, 250, 0.6) 0%, rgba(230, 230, 230, 0.6) 100%);
    @include display-justify-properities(flex, center);
    padding: 162px 0 122px 0;

    @at-root {
        &__list-items {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding-left: 0;
        }

        &__items {
            text-align: center;
            margin-right: 87px;

            &:nth-child(4){
                span{
                    width: 120px;
                }
            }

            &:nth-child(5){
                margin-right: 0;
            }
        }

        &__logo {
            width: 75px;
            height: 75px;
        }

        &__links-text {
            display: flex;
            font-family: $primary-family;
            font-size: 16px;
            color: $links-color;
            padding-top: 17px;
            font-weight: 600;
            width: 97px;
        }
    }
}

/* ------- */

/* section-4 */
.about-us {
    background-color: $know-more-about-us-bg-color;
    height: 521px;
    position: relative;
    font-family: $primary-family;

    .grey-color-bg-img{
        width: 32%;
        height: 100%;
    }

    @at-root {
        &__container {
            @extend %container;
            @include display-justify-properities(flex, space-between);
            position: absolute;
            top: 92px;
            left: 0;
            right: 0;
        }

        &__nature-img {
            width: 556px;
            height: 352px;
        }

        &__nature-section {
            @include flex-row-properities(center, center);
            width: 556px;
            height: 352px;
            position: absolute;
            top: 0;
        }

        &__outer-circle {
            border: 2px solid $play-button-outer-circle-color;
            @include padding(4px, 1px, 1px, 4px);
            border-radius: 50px;
            width: 80px;
            height: 80px;
        }

        &__button-bg {
            @include flex-row-properities(center, center);
            @include padding(2px, 0, 0, 5px);
            background-color: $play-button-color;
            border-radius: 50px;
            width: 68px;
            height: 68px;
        }

        &__content-section {
            width: 395px;
            height: 367px;
        }

        &__title {
            font-size: 36px;
            color: $white-color;
            font-weight: 700;
            margin: 0;
        }

        &__description {
            color: $white-color;
            font-size: 16px;
            margin: 13px 0 30px 0;
        }

        &__link-button {
            display: inline-block;
            background-color: $play-button-color;
            color: $white-color;
            font-size: 22px;
            border: none;
            @include padding(10px, 21px, 10px, 21px);
        }
    }
}

/* ---------------- */