.grass-img{
    width: 100%;
    display: flex;
}

.footer{
    width: 100%;
    background-color: $footer-bg-color;

    a{
        color: $white-color;
    }

    a.footer__subscribe-btn{
        position: absolute;
        background-color: $white-color;
        color: $links-color;
        border-radius:90px;
        border-style:none;
        font-weight:700;
        font-size:16px;
        padding: 10px 30px;
        top:46px;
        right: 40px;
        &:hover{
            cursor: pointer;
        }
    }

    @at-root{
        &__container{
            @extend %container;
            left: 0;
            right: 0;
            @include display-justify-properities(flex, space-between);
            @include padding(20px, 15px, 30px, 15px !important);
        }

        &__left-section{
            @include display-direction-properties(flex, column);
            width: 714px;
            margin-top: 25px;
        }

        &__subscribe{
            position: relative;
            margin-bottom: 20px;
        }

        &__subscribe-title{
            font-size:22px;
            font-weight: 700;
            color:$white-color;
        }

        &__subscribe-input{
            width:95%;
            height:46px;
            background-color: rgb(0 0 0 / 10%);
            border-radius:80px;
            border-style:none;
            margin-top: 16px;
            @include padding(0, 0, 0, 15px);
        }

        ::placeholder{
            color: $white-color;
            font-size: 14px;
            @include padding(0, 0, 0, 10px);
        }

        &__links-section{
            display: flex;
            margin-bottom: 75px;
        }

        &__below-links{
            @include padding(0, 100px, 0, 0);
            @include display-direction-properties(flex, column);

            :nth-child(5){
                @include margin(0, 0, 0, 0);
            }
        }

        &__title-info{
            font-size: 18px;
            font-weight: 700;
            @include margin(0, 0, 10px, 0);
        }

        &__blank-space{
            height: 32px;
        }

        &__links-info{
            font-size: 14px;
            @include margin(0, 0, 10px, 0);
        }

        &__copyright{
            @include display-justify-properities(flex, space-between);
        }

        &__copyright-section{
            display: flex;
            flex-direction: column;
        }

        &__copyright-description{
            @extend %copyright-text;
            font-weight: 700;
        }

        &__copyright-all-rights{
            @extend %copyright-text;
        }

        &__copyright-powerred-by{
            @extend %copyright-text;
            text-align: end;
            font-weight: 700;
        }

        &__copyright-webworks{
            @extend %copyright-text;
            text-align: end;
        }

        &__right-section{
            background-color: rgb(29, 29, 29, 10%);
            padding: 36px;
            width: 371px;
            color: $white-color;
        }

        &__contact-section{
            @include display-align-properities(flex, center);
            @include margin(0, 0, 17px, 0);

            &:nth-child(3){
                @include margin(0, 0, 36px, 0);
            }
        }

        &__contact-us-section{
            width: 100%;
            @include display-direction-properties(flex, column);
            border-bottom: 1px solid $contact-us-line-color;
            @include margin(0, 0, 0, 26px);
        }

        &__email-contact-us{
            @include display-direction-properties(flex, column);
            @include margin(0, 0, 0, 16px);
        }

        &__contact-us-info{
            font-size: 18px;
            font-weight: 700;
            @include margin(0, 0, 5px, 0);
        }

        &__address{
            font-size: 14px;
            @include margin(0, 0, 17px, 0);
            width: 250px;
        }

        &__call-us{
            font-size: 14px;
            @include margin(0, 0, 17px, 0);
        }

        &__email-us{
            font-size: 14px;
        }

        &__follow-us-section{
            display: flex;
            align-items: center;
        }

        &__follow-us-info{
            font-size: 18px;
            font-weight: 700;
            @include padding(0, 30px, 0, 0);
            border-right: 1px solid $contact-us-line-color;
        }

        &__icons-section{
            @include padding(0, 0, 0, 10px);
        }

        &__icons{
            color: $white-color;
            @include padding(0, 0, 0, 20px);
        }
    }
}