.grass-img{
    width: 100%;
    display: block;
}

.footer{
    background-color: $dark-green-color;

    @at-root{
        &__container{
            @extend %container;
            @include display-justify-properities(flex, space-between);
            @include padding(20px, 15px, 30px, 15px !important);
        }

        &__left-section{
            @include display-direction-properties(flex, column);
            width: 696px;
            margin-top: 25px;
        }

        &__subscribe{
            position: relative;
            margin-bottom: 20px;
        }

        &__subscribe-title{
            font-size:22px;
            font-weight: 700;
            color:$white-color;
        }

        &__subscribe-input{
            width:95%;
            height:46px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius:80px;
            border-style:none;
            margin-top: 16px;
            @include padding(0, 205px, 0, 15px);
            color: $white-color;
            &::placeholder{
                color: $white-color;
            }
        }

        &__subscribe-btn{
            position: absolute;
            background-color: $white-color;
            color: $links-color;
            border-radius:90px;
            border-style:none;
            font-weight:700;
            font-size:16px;
            padding: 10px 30px;
            top:46px;
            right: 40px;
            &:hover{
                cursor: pointer;
                background-color: $dot-green-color;
            }
        }

        .footer-links{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 75px;

            a{
                color: $white-color;
            }

            &__section{
                @include padding(0, 100px, 0, 0);
                @include display-direction-properties(flex, column);

                :nth-child(5){
                    margin: 0;
                }
            }

            &__title{
                font-size: 18px;
                font-weight: 700;
                color: $white-color;
                @include margin(0, 0, 10px, 0);
            }

            &__blank-space{
                height: 32px;
            }

            &__info{
                font-size: 14px;
                @include margin(0, 0, 10px, 0);
            }
        }

        &__copyright{
            @include display-justify-properities(flex, space-between);
        }

        &__copyright-left{
            @extend %copyright;
        }

        &__copyright-right{
            @extend %copyright;
            text-align: end;
        }

        &__copyright-text{
            font-weight: 700;
        }

        &__right-section{
            background-color: rgba(29, 29, 29, 0.1);
            padding: 36px;
            width: 371px;
            color: $white-color;
        }

        &__contact-section{
            @include display-align-properities(flex, center);
            flex-wrap: wrap;

            @include margin(0, 0, 17px, 0);

            &:nth-last-child(2){
                border-bottom: none;
                @include margin(0, 0, 36px, 0);
            }
        }


        &__img{
            @include margin(0, 26px, 10px, 0);
        }

        &__gmail-img{
            margin-right: 16px;
        }

        &__contact-us{
            @extend %contact-us;
            border-bottom: 1px solid rgba(248, 248, 248, 0.2);
        }

        &__email-us{
            @extend %contact-us;
        }

        &__contact-us-title{
            font-size: 18px;
            font-weight: 700;
            @include margin(0, 0, 5px, 0);
        }

        &__contact-us-links{
            font-size: 14px;
            @include margin(0, 0, 17px, 0);
            color: rgba(255, 255, 255, 0.8);
        }

        &__email-link{
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
        }

        &__follow-us-section{
            display: flex;
            align-items: center;
        }

        &__follow-us-info{
            font-size: 18px;
            font-weight: 700;
            @include padding(0, 30px, 0, 0);
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }

        &__icons-section{
            @include padding(0, 0, 0, 10px);
        }

        &__icons{
            color: $white-color;
            @include padding(0, 0, 0, 20px);
        }
    }
}