@import "../helpers/_helpers-dir";

/* Header section */
.container{
    width: 1125px;
    margin: 0 auto;
}

.header-section{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
    position: relative;
    z-index: 1;

    .container{
        @include display-justify-properities(flex, space-between);
        @include padding(18px, 0, 18px, 0);
    }

    a{
        font-family: $family;
        color: $header-section-color;
    }

    .header-logo-section{
        @include display-align-properities(flex, center);

        .vidc-name{
            width: 240px;
            font-size: 15px;
            font-weight: $bold;
            @include padding(0, 0, 0, 10px);
        }
    }

    .header-right-section{
        @include display-direction-justify-properties(flex, column);
        font-size: 14px;

        .top-links{
            @include flex-row-properities(flex-end, center);
            margin-bottom: 11px;

            .info-section{
                @include padding(0, 20px, 0, 0);
            }

            .top-links-section{
                display: flex;
            }

            .page-size-section{
               @include display-align-properities(flex, center);
                border-right: 1px solid $top-links-border-color;
                @include padding(0, 0, 0, 20px);
            }

            .small-size{
                @include padding(0, 10px, 0, 0);
                font-size: 11px;
                font-weight: $bold;
            }

            .medium-size{
                @include padding(0, 10px, 0, 0);
                font-size: 14px;
                font-weight: $bold;
            }

            .large-size{
                @include padding(0, 20px, 0, 0);
                font-size: 16px;
                font-weight: $bold;
            }

            .language-section{
                border-right: 1px solid $top-links-border-color;
                @include padding(0, 15px, 0, 15px);
            }

            .color-section{
                @include display-align-properities(flex, center);
                border-right: 1px solid $top-links-border-color;
                @include padding(0, 15px, 0, 15px);
            }

            .dot-blue{
                @extend %circle-style;
                background-color: $dot-blue-color;
            }

            .dot-green{
                @extend %circle-style;
                background-color: $dot-green-color;
                margin: 0 15px 0 15px;
            }

            .dot-yellow{
                @extend %circle-style;
                background-color: $dot-yellow-color;
            }

            .search-section{
                @include display-align-properities(flex, center);
                @include padding(0, 2px, 0, 10px);
            }
        }

        .below-links{
            font-family: $family;
            .below-links-info{
                @include padding(0, 10px, 0, 10px);
                border-right: 1px solid $below-links-border-color;
            }

            .home-info{
                @include padding(0, 10px, 0, 0);
                border-right: 1px solid $below-links-border-color;
            }

            .governing-councils-decisions-info{
                @include padding(0, 0, 0, 10px);
            }
        }
    }
}
/* --------- */