$white-color: #ffffff;
$family: 'Lato', sans-serif;
$bold: 700;
$weight: 900;
$header-section-color: #505050;
$dot-blue-color: #265781;
$dot-green-color: #52b27b;
$dot-yellow-color: #f2e162;
$top-links-border-color:#265781;
$below-links-border-color: #505050;
$banner-title-color: #1b7642;
$banner-sub-title-color: #0f5c30;
$banner-button-color: #272727;
$banner-message-section-color: #1b7642;
$hero-banner-section-title-color: #505050;

$vidc-heading-color: #1b7642;
$agricultural-heading-color: #0f5c30;

$black-color: black;
$know-more-about-us-color: #3f3531;
$play-button-outer-circle-color: #4fc172;
$play-button-color: #44af72;